
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}



h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #000;
  margin: 0;
}

/* Italics */
.emphasis {
  font-style: italic;
}

/* Custom font weights */
.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.extrabold {
  font-weight: 800;
}

/* Additional styles */
small {
  font-size: 0.875em;
}

.profile-img{
    border-radius: 50%;
}
.text-description{
    font-weight: 300;
}

.ex-title{
  font-size: 1.3rem;
  margin: 0;
}
.ex-description{
  font-size: 1rem;
}
.ul{
  font-size: 1rem;
}

.map{
  width: 100%;
  height: 500px;
}
.name{
  font-size: 3rem;
}
a{
  text-decoration: none;
}
@media (max-width: 1000px) {

  .ex-title{
    font-size: 0.9rem;
    margin: 0;
  }

  .ex-description{
    font-size: 0.9rem;
  }
  .name{
    margin-top: 20px;
    font-size: 2.5rem;
  }

}